.App {
  text-align: center;
  padding: 0;
}

body{
  background-color: rgb(232, 241, 210);
  color: rgb(10, 6, 6);
}

.movies{
  display: grid;
  grid-template-columns: 4fr 4fr;
}

.movies img{
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  border-radius: 50px;
  height: 400px;
  width: 750px;  
}

.movie{
  padding: 8px;
}

button{
  background-color: rgb(238, 255, 5);
  color: black;
  padding: 15px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  bottom: 10px;
  left: 20px;
  margin-top: 10px;
  font-size: 20;
  font-weight: 600;
  cursor: pointer;
}

header{
  left: 20px;
  height: 70px;
  padding-top: 20px;
}

.App header {
  font-size: 20px;
}